<div class="row" ng-controller="JamController as jamCtrl">
      <div class="col s12 m8 l9">
        <div class="row">
          <img class=" cover-jam responsive-img" src="../../assets/images/bgsimplon.jpg" alt="jam-background">
        </div>

        <div class="card-jam">
          <div class="row">
            <div class="col s6">
              <h3>{{jamCtrl.current.name}}</h3>
            </div>
            <div class="col s6 push-s4">
              <a class="btn-jam-position btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">mode_edit</i></a>
            </div>
            <div class="col s12">  <p>{{jamCtrl.current.description}}</p></div>
        </div>
        <div class="heure-jam col s12">
          <h5><i class="material-icons prefix">location_on</i>55 rue de Vincennes, 59400 Montreuil</h5>
        </div>
      </div>
    </div>
    <!-- card billet à inserer avec les infos -->
  </div>

<!-- COMMENTAIRES on les garde pour la v2 non ?-->

  <div class="row">
    <div class="card-jam">
      <p>Commentaires</p>
    </div>
  </div>
</div>

<!-- PROFIL ORGANISATEUR -->

<div class="col s12 m4 l3">
  <div class="card-jam">
    <div class="profil-jam profil-utilisateur">
      <div class="bg-profil">
        <h6>Organisateur</h6>
        <img class= "profil-jam-img circle responsive-img" src="../../assets/images/kevin.jpg" alt="kevin">
        <div class="informations-profil">
          <h4>Kevin Andreani</h4>
          <h6>29 ans</h6>
          <h6>Talent : Trompette</h6>
          <div class="hashtags">
            <div class="chip">Jazz</div>
            <div class="chip">Death musette</div>
            <div class="chip">Carioca</div>
            <div class="chip">Funk</div>
          </div>
          <!-- <div class="biopic">
          <p class="profil-white">A propos:</p>
          <p>Membre du groupe Black Musette, je suis à la recherche de nouveaux sons pour accompagner mon Haut-bois.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- PARTICIPANTS -->

<div class="row">
  <div class="card-jam2">
    <div class="fiche-participant">
      <div class="row">
        <p>4 participants</p>
        <div class="col s4">
          <img src="../../assets/images/cecile.jpg" alt="image-profil" class="avatar-profil-small circle">
        </div>
        <div class="col s4 pull-s1">
          <p class="nom-participant">Cécile</p>
        </div>
        <div class="col s4">
          <div class="chip hashtag-align">Guitare</div>
        </div>
      </div>
    </div>
      <div class="col s12 m4 l3">
        <div class="card-jam">
          <div class="profil-jam profil-utilisateur">
            <div class="bg-profil">
              <h6>Organisateur</h6>
             <img class= "profil-jam-img circle responsive-img" src="../../assets/images/kevin.jpg" alt="kevin">
            <div class="informations-profil">
              <h4>{{jamCtrl.admin.firstname}} {{jamCtrl.admin.lastname}}</h4>
              <h6>29 ans</h6>
              <h6>Talent : Trompette</h6>
              <div class="chip">Jazz</div>
              <div class="chip">Death musette</div>
              <div class="chip">Carioca</div>
              <div class="chip">Funk</div>
              <!-- <div class="biopic">
                <p class="profil-white">A propos:</p>
                <p>Membre du groupe Black Musette, je suis à la recherche de nouveaux sons pour accompagner mon Haut-bois.</p>
              </div> -->
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="fiche-participant">
      <div class="row">
        <div class="col s4">
          <img src="../../assets/images/harysson.jpg" alt="image-profil" class="avatar-profil-small circle">
        </div>
        <div class="col s4 pull-s1">
          <p class="nom-participant">Harysson</p>
        </div>
        <div class="col s4">
          <div class="chip hashtag-align">Guitare</div>
        </div>
      </div>
    </div>
    <div class="fiche-participant">
      <div class="row">
        <div class="col s4">
          <img src="../../assets/images/lydia.jpg" alt="image-profil" class="avatar-profil-small circle">
        </div>
        <div class="col s4 pull-s1">
          <p class="nom-participant">Lydia</p>
        </div>
        <div class="col s4">
          <div class="chip hashtag-align">Chant</div>
        </div>
      </div>
    </div>
  </div>


<!-- BACKGROUND -->
  <div class="bg-img-jam"></div>
